body{
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.topnav {
    display: flex;
    background:#191F2C url("/img/bg-texture-wood4.png") no-repeat 50%  50%;
    height: 95px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-size: cover;
}

.logo{
    display: flex;
    float: left;
    margin-left: 6%;
    margin-top: auto;
    margin-bottom: auto;
}

.pepper{
    display: flex;
    max-width: 100%;
    padding-left: 3%;
}
.nav_menu{
    display: flex;
    text-decoration: none;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 13%;
    margin-right: auto;
}
.nav_menu a{
    display: flex;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.main_logo{
    text-decoration: none;
    font-family: "Bodoni MT", normal;
    color: white;
    font-size: 22px;
    margin-top: auto;
    margin-bottom: auto;

}
.nav_menu a:active,
.nav_menu a:hover,
.nav_menu a{
    text-decoration: none;
    color: #EEEEEE;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.leaf{
    display: flex;
}

.main_container{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    min-height: 100%;
    flex: 1 1 auto;
}

.choose_pizza{
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.vector1{
    display: flex;
    position: absolute;
    left: 0;
}

.sign{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

}
.vector2{
    position: absolute;
    right: 0;
    display: flex;
    float: right;
}

footer{
    background-color: #191F2C;
    height: 120px;
}

footer a{
    color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
}

.main_container {
    min-height: calc(100vh - 80px);
}

.Santorinis{
    font-size: 20px;
}

.Copiright{
    padding-top: 7px;
    font-family: "Inter", sans-serif;

}

.footer_info{
    padding-top: 30px;
    padding-left: 40px;
}

.contacts{
    display: flex;
    float: right;
    width: 30%;
    justify-content: space-evenly;


}
.insta{

}
.img1{
    width: 25%;
}

.img2{
    width: 25%;
}

.img3{
    width: 25%;
}

.products_container{
    display: flex;
    margin-top: 80px;
    margin-left: 8%;
    margin-right: 8%;
}

.product_header span{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    text-align: center;

    color: #000000;

}

.pizza_block{
    display: inline-block;
    margin-top: 70px;
    float: left;
}

.pizza_block .pizza_product{
    display: flex;
}
.pizza_product{
    display: flex;
    margin-left: 8%;

}
.pizza_name{
    margin-top: 20px;
}

.name{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}

.pizza_description{
    padding-top: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.pizza_price{
    display: flex;
    padding-left: 10%;
    margin-top: 2%;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */

    text-align: center;
}

.pizza_count{
    height: 16px;
    display: inline-flex;
    padding: 12px 28px;
    color: black;
    border: none;
    border-radius: 40px;
    outline: none;
    background-color: #ECEEF6;
    background-clip: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;

    margin-top: 20px;
    margin-left: 30%;
}

.cross{
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    margin-top: 12px;
    margin-left: 10px;
    transform: rotate(21.5deg);
}