.select {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	padding: 70px 0;

	flex: 1 1 auto;
	background-color: white;
}

h1 {
	color: black;
	font-size: 48px;
	font-weight: 700;
}

.loading {
	font-weight: 600;
	font-size: 18px;
	color: black;
	text-align: center;
}