.main {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	font-size: 32px;
	align-items: center;
	justify-content: space-between;
	height: 300px;
}


.main img {
	/* margin-top: 100px; */
}

.title {
	text-align: center;
}