.list {
	display: flex;
	justify-content: space-between;
	margin: 55px 0;
}

.item {
	width: 135px;
	height: 55px;
	background: linear-gradient(0deg, #ECEEF6, #ECEEF6);
	color: #151515;
	font-size: 16px;
	font-weight: 600;
	border-radius: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all .4s linear;
}

.item:hover,
.item.current {
	background: var(--orange);
	color: white;
}